
@charset "utf-8";

html, body{
height: 100%;
min-height: 100%;
width: 100%;
padding: 0px;
margin: 0px;
padding-bottom: 20px;
background-color: rgba(0, 0, 0, 1);
background-image: url('./images/stars4_5.jpg');

}

#wrapper {
	width: 100%;
	height: 100%;
	}

#upper {
	width: 106%;
	margin-left: -3%;
	height: 160px;
	background: rgba(0, 0, 0, 1);
	z-index: 2;
	overflow: hidden;

}

#logo {
	width: 100%;
	height: 140px;
	margin-top: 10px;
	background: rgb(1, 9, 44);
	z-index: 2;	
	overflow: hidden;

}

.alignlogo {
	width: 1300px;
	height: 130px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(1, 9, 44);
	z-index: 1;
}


#case {

	width: 100%;
	height: 100%;
	/* http://bgfons.com/upload/stars_texture2938.jpg */
	background-image: url('./images/stars4_5.jpg');
	z-index: 0;

}


#mid {
	width: 75%;
	min-width: 700px;
	height: 1000px;
	border: 1px solid transparent;
	border-left: 3px solid;
	border-color: black;
	border-right: 3px solid;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 1);
	z-index: 0;
	


}


#toolbar {
	font: bold 17px Helvetica,Arial,sans-serif;
	width: 100%;
	height: 35px;
	margin-top: 70px;
	background-color: white;
	border-top:3px solid;
	border-bottom: 3px solid;
	border-color: black;
	z-index: 2;
	
}



#toolbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;	
	width: 100%;
	text-align: center;
}


#toolbar ul li{
	
	margin-top: 9px;
	display: inline-block;	
	vertical-align: middle;
	position: relative;
}

#toolbar ul li a{
	text-decoration: none;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 9px;
	color: black;
}



#toolbar ul li ul{
	list-style-type: none;
	background: white;
	background: rgba(255, 255, 255, 0);
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	left: -9999px;

}

#toolbar ul li ul li{
	float: left;
	display: block;
	padding-left: 0px;
	padding-bottom: 15px;
}
#toolbar ul li ul a{
	white-space: nowrap;
	float: left;
	min-width: 70px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-right: 8px;
	padding-top: 5px;
}

#toolbar ul li:hover ul{
	left: 0;
	top: 28px;
	background-color: rgb(1, 9, 44);
	background-color: rgba(255, 255, 255, 0);
	border-left: 2px solid black;
	margin-left: 20px;

	}

#toolbar ul li:hover a{
	color: white;
	text-align: left;
	background: black;
}
#toolbar ul li:hover ul li a:hover{
	background: white;
	color: black;

}

#textalign {
	font: bold 16px Helvetica,Arial,sans-serif;
	width: 90%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;

}
#textalign img{
	margin-left: 30px;
}