/*extra fonts from Google Fonts*/

@charset "utf-8";
html, body{
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
    background-color: rgb(50, 0, 5);
    /*http://www.wallsave.com/wallpapers/1366x854/universe/219464/universe-space-planets-hd-fondos-219464.jpg*/
    background-image: url('./images/universe_space_1.jpg');
    background-attachment: fixed;



}

.flip-text{
    
    margin-top: 450px;
    margin-left: 10px;
    width:20px;
    height:20px;
    color: black;
    font: bold 60px/0px 'Monoton','Geostar',sans-serif,Geneva,serif;
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display:block;
}

#wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(50, 0, 5);
    background-image: url('./images/universe_space_1.jpg');
    background-attachment: fixed;
    z-index: 0;

}

#title{
    width: 75px;
    height: 100%;
    background-image: url('./images/universe_space_3.jpg');
    position: fixed;
    z-index: 3;
    border-right: 3px solid ;
    border-color: black;
}

#case{
    width: 100%;
    height: 100%;
    background-color: rgb(50, 0, 5);
    background-image: url('./images/universe_space_1.jpg');
    background-attachment: fixed;
    z-index: 0;
}

#upper {
    width: 1278px;
    height: 160px;
    background: rgb(0, 0, 0);
    overflow: hidden;
    border-right: 3px solid black;

}

#logo {
    width: 1278px;
    height: 140px;
    margin-top: 10px;
    background: rgb(0, 0, 0);
    overflow: hidden;


}

.alignlogo {
    width: 1278px;
    height: 130px;
    margin-top: 10px;
    margin-left: 78px;
    background: rgb(0, 0, 0);
}



#text-box{
    width: 1200px;
    min-height: 100%;
    font: 18px sans-serif;
    display:inline-block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    vertical-align: top;
    padding-left: 78px;
    float: left;
    
}


.text-entry {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 20px;
    
}

.text-entry a{
    text-decoration: none;
    color: #000080;
}

.text-entry img{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1px;
    border:10px solid;
    border-color: black;

}

.text-entry ul{
    

}

.title-entry {
    font: bold 25px Helvetica,Arial,sans-serif;
    max-width: 1175px;
    margin-top: 70px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: solid;
    border-top: solid;
    border-color: black;
    width: 100%;
    overflow-x: hidden;

}



#toolbar {

    font: bold  17px  Helvetica,Arial,sans-serif;
    width: 1200px;
    height: 35px;
    margin-top: 70px;
    background-color: black;
    border-top:3px solid;
    border-bottom: 3px solid;
    border-color: 660000;
    z-index: 2;
    
}



#toolbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;	
    width: 100%;
    text-align: center;
}


#toolbar ul li{
    
    margin-top: 8px;
    display: inline-block;	
    vertical-align: middle;
    position: relative;
}

#toolbar ul li a{
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 9px;
    color: white;
}



#toolbar ul li ul{
    list-style-type: none;
    width: 150px;
    background: white;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    left: -9999px;

}

#toolbar ul li ul li{
    float: left;
    display: block;
    padding-left: 0px;
    padding-bottom: 15px;
}
#toolbar ul li ul a{
    white-space: nowrap;
    float: left;
    min-width: 70px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-top: 5px;
}

#toolbar ul li:hover ul{
    left: 0;
    top: 25px;
    background-color: rgba(0, 0, 0, 1);
}

#toolbar ul li:hover a{
    text-indent: 30px;
    color: yellow;
}
#toolbar ul li:hover ul li a:hover{
    color: yellow;

}